---
layout: default
title: Home
---

{% assign cost = 0 %}
{% for post in site.posts %}
  {% if post.parts %}
    {% for part in post.parts %}
      {% assign cost = cost | plus: part.cost %}
    {% endfor %}
  {% endif %}
{% endfor %}
<p>${{ cost }}</p>

<div class="posts">
  <table>
    <tbody>
      {% for post in site.posts %}
        <tr class="post">
          <td class="post-date">{{ post.date | date_to_string }}</span>
          <td class="post-title">
            <a href="{{site.baseurl}}{{ post.url }}">
              {{ post.title }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
